<footer class="bg-dark ">
    <section class="text-center pt-4 my-5">
        <h5 class="text-warning"> Weather App made with NODE JS</h5>
    </section>
    <section class="w-100">
        <ul>
            <li><a> About </a> </li>
            <li><a> help </a> </li>
            <li><a> Contact</a> </li>

        </ul>
    </section>
    <section>
        <hr class="hr_rule">
        <p class="text-center"> &#169 Mukesh 2018-2019 </p>

    </section>
</footer>

</main>
</body>

</html>