<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <main>
        <header>


            <div class="container-fluid">
                <div class="row">
                    <section class="social_icons col-12 bg-theme-p">
                        <div>
                            <ul class="mt-1">
                                <li> <i class="fa fa-facebook"></i></li>
                                <li> <i class="fa fa-twitter"></i></li>
                                <li> <i class="fa fa-linkedin"></i></li>
                                <li> <i class="fa fa-github"></i></li>

                            </ul>
                        </div>
                    </section>
                    <section class="theme_icon col-12 d-flex justify-content-center">
                        <div class="imgwrap">

                            <img src="images/logo2.png" alt="logo" height="auto">
                        </div>
                    </section>

                </div>


            </div>
        </header>